*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border-style: solid; */
}

/* :root{
    
} */

body {
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    background: #f9f9f9;
}

main{
    background-color: #2A2C2E;
    height: auto;
    /* border-style: solid; */
    padding-bottom: 30px;
}

header {
    padding: 20px;
    /* border-style: solid; */
}

header > .container-header > div,a{
    color: #f9f9f9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



.container-header{
    background-color: black;
    margin: 0 auto;
    width: 1200px;
    height: 70px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menu,.icon-header,.login-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    
}

.icon-header li {
    display: inline-block;
    margin-right: 10px;
}
.icon-header li i {
    font-size: 24px; 
    transition: transform 0.3s ease;
}
.icon-header li i:hover {
    transform: scale(1.5);
}

button {
    padding: 10px 20px;
    background-color: yellow; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #f0f328; 
}



.banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 32px;
    background-color: yellow;
}

li{
    list-style: none;
    gap: 10px;
}

.book-container{
    margin: 10px auto;
    /* border-style: solid; */
    width: 898px;
    height: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;

}

.row-1,.row-2,.row-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    /* padding: 1px 0 1px 0; */
    height: 515px;
    margin: 1px auto;
    /* border-style: solid; */
    
}

.book-card{ 
    width: 270px;
    align-items: center;
    justify-content: center;
    border-style: solid;
    margin: 5px;
    height: 510px;
    border-radius: 16px;
    background-color: #FFFFFF;

}

main > .book-container img{
    width: 250px;
    height: auto;
    object-fit: cover;
    object-position: top;
    border-radius: 16px;
    margin: 7px;
    /* align-items : center; */
}

.book-title{
    margin: 7px;
}

.ratings,.price {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 7px;
    
}

.ratings > li {
    border-style: solid;
    border-width: auto;
    border-radius: 10px;
    width: 80px;
    padding-left: 10px;
    
}

.price p {
    font-size: 20px;
}